<.header>
  New Expense
  <:subtitle>Add a new expense to your tracker.</:subtitle>
</.header>

<.expense_form changeset={@changeset} action={~p"/expenses"} />

<.back navigate={~p"/expenses"}>Back to expenses</.back>